* {
    margin: 0px auto;
    padding: 0px;

}
.box{
    width: 100%;
    height: 1400px;
    background: #fafafa;
}
.xt{
    width: 100%;
    height: 2px;
    background-color: #ff6700;
}
.a1{
    width: 100%;
    height: 102px;
    background: white;
}
.cantered{
    width: 1226px;
    height: 74px;
    /*background-color: #00d20d;*/

    /*display: flex;*/
}
.cantered img{
    background-color: #ff6700;
    margin-top: 20px ;
    float: left;
}
.cantered h2{
    margin-top: 30px ;
    float: left;
    margin-left: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dl{
    width: 100px;
    height: 40px;
    float: right;
    flex-wrap: nowrap;
    font-size: 16px;
    margin-top: 30px;
    color: #8c8c8c;


}
.dl a{
    font-size: 5px;
    text-decoration:none


}
.mid{
    width: 100%;
    height: 609px;
    background-color: #f5f5f5;
}
.b1{
    width: 1226px;
    height: 533px;
    /*background-color: #00d20d;*/
    /*margin-top: 20px; ;*/
}
.b2{
    width: 1226px;
    height: 273px;
    /*background-color: #65a4ff;*/
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}
.text1{
     width: 613px;
     height: 273px;
     background: url("../imag/gouwuche/cart-empty.png") no-repeat 124px 0;
     margin-top: 20px;
     float: left;


 }
.text2{
    width: 613px;
    height: 273px;
    /*background-color: #c7f798;*/
    margin-top: 20px;
    float: left;
}
.text2 h2{
    font-size: 36px;
    margin: 50px 0 0;
    color: #b0b0b0;
}
.text2 p{
    font-size: 20px;
    margin: 0 0 20px;
    color: #b0b0b0;
}
/*.text2 a{*/
    /*width: 172px;*/
    /*height: 50px;*/
    /*background-color: #ff6700;*/
    /*margin: 0 10px 0 0;*/
    /*color: #ffffff;*/
    /*font-size: 30px;*/
/*}*/
.bq{
    width: 172px;
    height: 50px;
    background-color: #ff6700;
    float: left;
    align-content: center;
    color: #ffffff;
}
.bq a{
    /*设置为盒子便签然后居中*/
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 10px;
}

.bq1{
    width: 172px;
    height: 50px;
    float: left;
    color: #ff6700;
    margin-left: 10px;
    background-color: #f5f5f5;
    /*边框粗细*/
    border: solid 0.5px;



}


.bq1 a{

    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ff6700;
    text-decoration: none;
}
/**a{*/
    /*text-decoration: none;*/
/*}*/

/*底部样式开始*/
.footer{
    width: 100%;
    height: 272px;
    background: white;
    /*background-color: #00aaee;*/
    /*border-bottom: solid 0.5px;*/
}
.footer li{
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    list-style-type:none ;
    margin-top: 25px;
    border-bottom: 2px;
    /*border-color: #00aaee;*/
}
#ll{border-left: solid 0px !important; margin-right: 7px;}

.one li a:hover{
    color: #ff6700 !important;
}
/*.one li a p:hover{*/
    /*color: #ff6700 !important;*/
/*}*/

.footer li a{
    text-decoration: none;
    color: #616161;
}
.one{
    width: 1226px;
    height: 80px;
    /*background-color: #00aaee;*/
    border-bottom: solid 0.5px;
}
.one li a p{
    margin-right: 5px;
    font-size: 20px;
}

.two{
    width: 100%;
    height: 192px;
    margin-top: 30px;
    /*background-color: #00d20d !important;*/

}
.two dl{
    width: 160px;
    height: 112px;
    float: left;

}
.two dl dd {
    margin-top: 10px;
    /*margin: -2px 0 0 0;*/

}
.two dl dt{
    font-size: 18px;
}
.two dl dd a{
    font-size: 12px;
    color: #757575;
    margin: -2px 0 0 0;
}
.two dl dd a:hover{
    color: #ff6700;
}

.follw{
    width: 251px;
    height: 21px;
    font-size: 12px;
    margin: 10px 0 0;
    /*position: relative;*/
}
.follw p{
    float: left;
    margin-left: 65px;
}
.follw img{
    background: 50% 0 no-repeat;
    /*background-size:cover ;*/
    width: 24px;
    height: 24px;
    float: left;
    margin-top: -5px;
}
.ttt{
    width: 24px;
    height: 24px;
    float: left;
    /*margin-top: -5px;*/
    display: flex;
}
.ph1:hover{
    display: none;
}
/*.ph2{*/
    /*display: block;*/
/*}*/
#a11{display: none
}
#b222{display: none  }

/*.ttt img:hover{*/
    /*display: block;*/
    /*/!*background: url("../imag/wb@2x.png" )no-repeat 50% 0 ;*!/*/
    /*background-size:cover ;*/
    /*width: 24px;*/
    /*height: 24px;*/
/*}*/
.canteredd{
    width: 1226px;
    height: 272px;
}
.Right{
    width: 252px;
    height: 112px;
    border-left: solid 0.3px;
    float: right;
    text-align: center;
}
.Right p{
    font-size: 12px;
    color: #616161;
}
#ph{color: #ff6700 ;font-size: 22px }
.Right a{
    display: block;
    width: 120px;
    height: 30px;
    /*text-align: center;*/
    line-height: 30px;
    background-color: white;
    color: #ff6700;
    border: solid 1px #ff6700;
}
a{text-decoration: none;}

.bottm{
    padding: 30px 0;
}
.cantereddd{
    width: 1226px;
    height: 88px;
}
.cantereddd p{
    font-size: 12px;
    color: #757575;
    margin-left: 66px; ;
}
.cantereddd p a{
   color: #757575;
}
.cantereddd p a:hover{
    color: #ff6700;
}
.logo{
    background-color: #ff6700;
    width: 50px;
    height: 50px;
    float: left;

}
.logo img{

}
#db{font-size: 12px;color: #b0b0b0}
.gg{
    width: 1226px;
    height: 28px;
    margin-left: 65px;
}
#tup{width: 82px;height:  28px}
.tx{
    width: 1520px;
    height: 19px;
    text-align: center;
    margin: 30px 0 0 -190px;
    font-size: 19px;
    color: #333;
    font-family:"WenQuanYi Micro Hei" ;
}