*{
    margin: 0px auto;
    padding: 0px;
}
.topnav{
    width: 100%;
    height: 40px;
    background-color: #333;
    color: white;
    line-height: 40px;

}
.boxcenter{
    width: 1226px;

}
/*顶部结束*/

.navleft{
    float: left;
}
.navright{
    float: right;
}
.topnav nav a{
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;
}
.topnav nav{
    height: 40px;
}
.topnav nav a:hover{
    color: white;
}
.topnav nav span{
    font-size: 12px;
    color: #424242;
}
.shopclass{
    margin-left: 30px;
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #424242;
    position: relative;
    top: -2px;
    text-align: center;
}
.shopclass:hover{
    background-color: white;
    color: #ff6700 !important;
}
.logo{
    width: 50px;
    height: 50px;
    background-color: #ff6700;
    background-image: url("imag/mi.png");
    float: left;
    margin-top: 25px;
}
.logo:hover{
    background-image: url("imag/wuzi.png");
}
.hostSearch{
    width: 600px;
    height: 100px;
    line-height: 100px !important;
    float: left;
    margin-left: 100px;
}
.hostSearch nav{
    height: 100px;
}
.hostSearch nav a{
    color: black;
    font-size: 17px;
    text-decoration: none;
    padding: 0px 5px ;
}
.hostSearch nav a:hover{
    color: #ff6700;
}
.btn{
    border: 0px;
    width: 50px;
    height: 50px;
    float: left;
    background-color: white;
    outline: none;
}
.btn:hover{
    background-color: #ff6700;
    color: white;
}
.SearchBox{
    width: 300px;
    height: 52px;
    float: right;
    margin-top: 25px;
    border: 1px solid #e0e0e0;
}
.SearchBox:hover{
    transition: border-color 1s;
    border-color: #858585 ;
}
.SearchBox:hover .InputContent{
    transition: border-color 1s;
    border-color: #858585;
}
.InputContent{
    float: left;
    width: 247px;
    height: 49px;
    border: 0px;
    border-right:1px solid #e0e0e0 ;
    outline: none;
}


.shopClass{
    width: 100%;
    height: 460px;
}
.RunImg{
    width: 100%;
    height: 460px;
    margin-top: 100px;

    position: relative;
    /*background-color: aquamarine;*/
}
.ClassInfo{
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
}
.Pr{
    position: relative;
}
.ClassInfo ul{
    width: 234px;
    height: 420px;

    padding: 20px 0px;
}
.ClassInfo ul li{
    width: 234px;
    height: 42px;
    list-style: none;
    padding: 0px 20px;
    line-height: 42px;
}
.ClassInfo ul li:hover{
    background-color: #ff6700;
}
.ClassInfo ul li a{
    color: white;
    float: left;
    text-decoration: none;
    font-size: 14px;
    font-family: "Microsoft YaHei UI";
}
.ClassInfo ul li span{
    color: white;
    font-size: 22px;
    float: right;
    line-height: 42px;
}
.allBox{
    position: absolute;
    width: 992px;
    height: 460px;
    background-color: #19aad0;
    top: 0px;
    right: 0px;
    z-index: 999;
    display: none;

}
.c1{
    background-color: #cba4d0;
}
.c2{
    background-color: #d58512;
}
.c3{
    background-color: #755fd5;
}
.c4{
    background-color: #d53121;
}
.c5{
    background-color: #5b7c38;
}

.LeftImg{
    margin: 10px 10px -13px -13px;
    width: 234px;
    height: 628px;
    background-image: url("imag/Mix.jpg");
    background-size: 234px 628px;
    float: left;
    /*margin-top: 10px !important;*/
}
.LeftImg:hover{
    transition: all 1s;
    margin-top: 0px;
    box-shadow: 10px 10px 30px gainsboro;
}
.phone {
    width: 100%;
    height: 650px;
    background-color: #f5f5f5;
    margin-top: 50px;
}


.RightGoods{
    width: 992px;
    height: 628px;
    float: left;

    margin-top: 8px !important;
}
. PGoods{
    width: 100%;
    height: 307px;
    float: left;
}
.BPG{
    margin-top: 14px !important;
}
.PGoods dl{
    width: 234px;
    height: 307px;
    background-color: white;
    float: left;
    margin-left: 14px;
    padding-top: 20px;
}
.PGoods dl:hover{
    transition: all 1s;
    margin-top: -2px;
    box-shadow: 0px 20px 30px gainsboro;
}
.PGoods dl dt{
    width: 160px;
    height: 160px;
}
.PGoods dl dt img{
    width: 160px;
    height: 160px;
}
.PGoods dl dd{
    margin-top: 22px;
    width: 100%;
    text-align: center;
}
.PGoods dl dd span{
    display: block;
}
.PName{
    font-size: 14px;
    font-family: "Microsoft YaHei"!important;
}
.PPZ{
    color: #b0b0b0;
    font-size: 12px;
}
.PPrice{
    margin-top: 5px;
    color: #ff6700;
    font-size: 14px;
}

.zhineng{
    width: 100%;
    height: 650px;
    background-color: #f5f5f5;
    margin-top: 30px;
}
.shangpin{
    width: 100%;
    height:630px ;
    float: left;
}
.top1{
    width: 100%;
    height: 300px;
    float: left;
    margin-top: 8px;
}
.bottom1{

    width: 100%;
    height: 300px;
    margin-top: 6px;
}
.tupian{

    /*width: 234px;*/
    /*height: 300px;*/
    /*background-image: url("imag/mi3.jpg");*/
    margin: 10px 10px -13px -13px;
    float: left;
}
.tupian:hover{
    transition: all 1s;
    margin-top: 0px;
    box-shadow: 10px 10px 30px gainsboro;
}
.top1 dl{
    width: 234px;
    height: 300px;
    float: left;
    background-color: white;
    margin-left: 14px;
    margin-top: 9px;

}
.top1 dl:hover{
    transition: all 1s;
    margin-top: 0px;
    box-shadow: 10px 10px 30px gainsboro;
}
.top1 dl dd {
    width:234px ;
    height: 61px;
}
.top1 dl dt {
    width: 160px;
    height: 160px;
}
.top1 dl dt img{
    width: 160px;
    height: 160px;
}

.top1 dl dd span{
    display: block;
}
.PName{
    font-size: 14px;
    font-family: "Microsoft YaHei"!important;
}
.PPZ{
    color: #b0b0b0;
    font-size: 12px;
}
.PPrice{
    margin-top: 5px;
    color: #ff6700;
    font-size: 14px;
}
.top1 dl dd{
    margin-top: 22px;
    width: 100%;
    text-align: center;
}
.tupian li {
    width: 234px;
    height: 143px;
    float: left;
    background-color: white;
    margin-left: 14px;
    margin-top: 9px;
}
/*. dls img{*/
    /*float: right !important;*/
    /*width: 80px;*/
    /*height: 80px;*/
/*}*/

.dls{
    width: 234px;
    height: 143px;
    float: left;
    background-color: white;
    margin-left: 14px;
    margin-top: 11px;
}
.dls h3{
    /*float: left;*/
    font-size: 16px;
    font-weight: 400;
    margin-left: 19px ;
    margin-top: 35px;
}
.dls h5{
    /*float: left;*/
    font-size: 12px;
    margin-left: 19px ;

}
.dls p{
    font-size: 14px;
    font-weight: 400;
    margin-left: 19px ;
    color:#ff6700 ;
}
.dls:hover{
    transition: all 1s;
    margin-top: 0px;
    box-shadow: 10px 10px 30px gainsboro;
}
.tu{
    float: right;
    margin-top: -70px ;
}
.jt{
    float: right;
    margin-top: -51px;
    margin-right: 40px;

}


/*底部样式开始*/
.footer{
    width: 100%;
    height: 272px;
    background: white;
    /*background-color: #00aaee;*/
    /*border-bottom: solid 0.5px;*/
}
.footer li{
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    list-style-type:none ;
    margin-top: 25px;
    border-bottom: 2px;
    /*border-color: #00aaee;*/
}
#ll{border-left: solid 0px !important; margin-right: 7px;}

.one li a:hover{
    color: #ff6700 !important;
}
/*.one li a p:hover{*/
/*color: #ff6700 !important;*/
/*}*/

.footer li a{
    text-decoration: none;
    color: #616161;
}
.one{
    width: 1226px;
    height: 80px;
    /*background-color: #00aaee;*/
    border-bottom: solid 0.5px;
}
.one li a p{
    margin-right: 5px;
    font-size: 20px;
}

.two{
    width: 100%;
    height: 192px;
    margin-top: 30px;
    /*background-color: #00d20d !important;*/

}
.two dl{
    width: 160px;
    height: 112px;
    float: left;

}
.two dl dd {
    margin-top: 10px;
    /*margin: -2px 0 0 0;*/

}
.two dl dt{
    font-size: 18px;
}
.two dl dd a{
    font-size: 12px;
    color: #757575;
    margin: -2px 0 0 0;
}
.two dl dd a:hover{
    color: #ff6700;
}

.follw{
    width: 251px;
    height: 21px;
    font-size: 12px;
    margin: 10px 0 0;
    /*position: relative;*/
}
.follw p{
    float: left;
    margin-left: 65px;
}
.follw img{
    background: 50% 0 no-repeat;
    /*background-size:cover ;*/
    width: 24px;
    height: 24px;
    float: left;
    margin-top: -5px;
}
.ttt{
    width: 24px;
    height: 24px;
    float: left;
    /*margin-top: -5px;*/
    display: flex;
}
.ph1:hover{
    display: none;
}
/*.ph2{*/
/*display: block;*/
/*}*/
#a11{display: none
}
#b222{display: none  }

/*.ttt img:hover{*/
/*display: block;*/
/*/!*background: url("../imag/wb@2x.png" )no-repeat 50% 0 ;*!/*/
/*background-size:cover ;*/
/*width: 24px;*/
/*height: 24px;*/
/*}*/
.canteredd{
    width: 1226px;
    height: 272px;
}
.Right{
    width: 252px;
    height: 112px;
    border-left: solid 0.3px;
    float: right;
    text-align: center;
}
.Right p{
    font-size: 12px;
    color: #616161;
}
#ph{color: #ff6700 ;font-size: 22px }
.Right a{
    display: block;
    width: 120px;
    height: 30px;
    /*text-align: center;*/
    line-height: 30px;
    background-color: white;
    color: #ff6700;
    border: solid 1px #ff6700;
}
a{text-decoration: none;}

.bottm{
    padding: 30px 0;
}
.cantereddd{
    width: 1226px;
    height: 88px;
}
.cantereddd p{
    font-size: 12px;
    color: #757575;
    margin-left: 66px; ;
}
.cantereddd p a{
    color: #757575;
}
.cantereddd p a:hover{
    color: #ff6700;
}
.logo{
    background-color: #ff6700;
    width: 50px;
    height: 50px;
    float: left;

}
.logo img{

}
#db{font-size: 12px;color: #b0b0b0}
.gg{
    width: 1226px;
    height: 28px;
    margin-left: 65px;
}
#tup{width: 82px;height:  28px}
.tx{
    width: 1520px;
    height: 19px;
    text-align: center;
    margin: 30px 0 0 -190px;
    font-size: 19px;
    color: #333;
    font-family:"WenQuanYi Micro Hei" ;
}
a{text-decoration: none !important}
.two dl dt a{
    color: #000000;
}
